.informacoes-filmes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  height: 100%;
  width: 100%;
  gap: 10%;
  font-size: 14px;
}

.item-informacoes {
  height: 20px !important;
  width: 150px !important;
  text-align: center;
  margin: 1%;
}
