.conteudo-personagem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5%;
  width: 100%;
  height: 100%;
}

.informacoes-personagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  height: 100%;
  width: 100%;
  gap: 30%;
  font-size: 14px;
}

.item-informacoes {
  height: 20px !important;
  width: 190px !important;
  text-align: center;
  margin: 1%;
}