.conteudo-personagem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10%;
  width: 100%;
}

.informacoes-personagem {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
  height: 180px !important;
  width: 100%;
  gap: 5%;
  font-size: 14px;
}

.item-informacoes {
  height: 20px !important;
  width: 120px !important;
  text-align: center;
}