.informacoes-planetas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  height: 180px !important;
  width: 100%;
  gap: 4%;
  font-size: 14px;
}

.item-informacoes {
  height: 20px !important;
  width: 190px !important;
  text-align: center;
}

.label-value {
    gap: 4%;
}

.label-informacoes {
  color: #fdf149d7;
}
